{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

    
<div class="container">
<div class="row">
<div class="col-md-12">

<h1>Recipe # {{object.id}}</h1>
<div class="card" style="width: 18rem;">
    <img src="media/{{recipe.images }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ object.name }}</h5>
      <p class="card-text">{{ object.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ object.ingredients }}</li>
      <li class="list-group-item">{{ object.updated_at|date:"F d, Y" }}</li>
    
    </ul>

  </div>
{% if object.author == user or user.is_staff %}
<div class="col-4">
    <a class="btn btn-outline-info" href="{% url 'recipes-update' object.id %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
</div>
{% endif %}
</div>
</div>
</div>
{% endblock 'main' %}

