

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'main' %}

<div class="container">
    <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="mb-4">Are you sure Want To Delete {{ object}}</legend>
    
        <table align="center">
            <tr>
                <td><label id="title" for="input1">Name</label></td>
                  <td> <input type="text" name="title" id="input1"  required></td>

                
            </tr>
            <tr>
                <td><label for="input2">Description</label></td>
                 <td>  <textarea name="det" id="input2" cols="30" rows="10" required></textarea></td>
                
            </tr>
            <tr>
                <td><label for="input2">Ingredients</label></td>
                 <td>  <textarea name="det" id="input2" cols="30" rows="10" required></textarea></td>
                
            </tr>

            <tr>
                <td><label for="input3"></label></td>
                 <td>   <input type="date" name="duedt" id="input3" value="{{data.due_dt | date:'Y-m-d'}}" required></td>
                
            </tr>
        
        </table>
    

    </fieldset>
    <div class="form-group py-3">
        <input class="btn btn-danger primary" type="submit" value="Delete">

    </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'recipes-home' %}">Cancel</a>
    </div>
</div>

{% endblock 'main' %}

